@keyframes jaba {

    from {
        transform: translateY(0px);
    }


    to {
        transform: translateY(10px);
    }
}

@keyframes pulse {
    0% {
        text-shadow: 0 0 20px #FF0000, 0 0 20px #0000FF;

    }

    25% {
        text-shadow: 0 0 20px #e01083;
    }

    50% {
        text-shadow: 0 0 20px #0000FF;
    }

    70% {
        text-shadow: 0px 0px 20px #1b09b9;

    }

    100% {
        text-shadow: 0px 0px 20px #17ffec;
    }
}

@keyframes pulse1 {
    0% {
        box-shadow: 0 0 0 0 rgba(14, 16, 179, 0.4);
    }

    70% {
        shadow: 0 0 0 50px rgba(160, 14, 26, 0);
    }

    100% {
        shadow: 20px 0 0 200px rgba(166, 13, 172, 0);
    }
}