body {
    overflow-y: hidden;
}

body.active {
    overflow-y: scroll;
}

#loader {
    position: fixed;
    z-index: 1000000000000000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bouncer div {
    width: 20px;
    height: 20px;
    float: left;
    background-color: #0077ff;
    border-radius: 50%;
    animation: bouncer 0.5s infinite alternate;
}

.bouncer div:nth-child(2) {
    animation-delay: 0.1s;
    opacity: 0.8;
}

.bouncer div:nth-child(3) {
    animation-delay: 0.2s;
    opacity: 0.6;
}

.bouncer div:nth-child(4) {
    animation-delay: 0.3s;
    opacity: 0.4;
}

@keyframes bouncer {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100px);
    }
}

#loader.hidden {
    animation: fadeout 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeout {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}